<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ClientWebSOAPWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addLocal</display-name>
    <servlet-name>addLocal</servlet-name>
    <jsp-file>/addLocal.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addLocal</servlet-name>
    <url-pattern>/addLocal</url-pattern>
  </servlet-mapping>
  
<servlet>
    <display-name>verify_out</display-name>
    <servlet-name>verify_out</servlet-name>
    <jsp-file>/verify_out.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>verify_out</servlet-name>
    <url-pattern>/verify_out</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>delete_out</display-name>
    <servlet-name>delete_out</servlet-name>
    <jsp-file>/delete_out.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>delete_out</servlet-name>
    <url-pattern>/delete_out</url-pattern>
  </servlet-mapping>
  
</web-app>